/***************/
/*****Reset*****/
/***************/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/**************************/
/*****Custom Propeties*****/
/**************************/

/*****Colors*****/

root {
    --black: black;
    --white: white;
    --primary-blue: #004F88; 
}


/*****Fonts*****/

root {
    --primary: font-family: 'Montserrat', sans-serif;
}

/*************************/
/*****Utility Classes*****/
/*************************/

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.light {
    background-image: url(assets/light-square.jpg);
    background-size: cover;
}

.dark {
    background-image: url(assets/dark-square.jpg);
    background-size: cover;
}

.transparent {
    background-color: transparent;
}

/****************/
/*****Styles*****/
/****************/

/*****General Styles*****/

html {
    background-color: rgb(6, 19, 82);
}

body {

}

/*****Heading*****/

h1 {
    text-align: center;
    color: #004F88;
}

/*****Table*****/

.table {
    width: 100%;
    justify-content: center;
    align-items: center;
}

/*****Board*****/

.board {
    width: 33%;
    aspect-ratio: 1;
}

.eighth-rank,
.seventh-rank,
.sixth-rank,
.fifth-rank,
.fourth-rank,
.third-rank,
.second-rank,
.first-rank {
    width: 100%;
    height: 12.5%;
}

.square {
    width: 12.5%;
    height: 100%;
    aspect-ratio: 1;
}

/*****Controls*****/

.controls {
    justify-content: center;
    align-items: center;
}

/*****Pieces*****/

.pieces {
    width: 33%;
    height: 80%;

}

.white,
.black {
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.white .king,
.white .queen,
.white .rook,
.white .bishop,
.white .knight,
.white .pawn,
.black .king,
.black .queen,
.black .rook,
.black .bishop,
.black .knight,
.black .pawn {
    background-repeat: no-repeat;
    background-size: cover;
}

.white .king {
    background-image: url(assets/WK.gif);
}

.white .queen {
    background-image: url(assets/WQ.gif);
}

.white .rook {
    background-image: url(assets/WR.gif);
}

.white .bishop {
    background-image: url(assets/WB.gif);
}

.white .knight {
    background-image: url(assets/WK.gif);
}

.white .pawn {
    background-image: url(assets/WP.gif);
}

.black .king {
    background-image: url(assets/BK.gif);
}

.black .queen {
    background-image: url(assets/BQ.gif);
}

.black .rook {
    background-image: url(assets/BR.gif);
}

.black .bishop {
    background-image: url(assets/BB.gif);
}

.black .knight {
    background-image: url(assets/BK.gif);
}

.black .pawn {
    background-image: url(assets/BP.gif);
}