.demo {
    background-color: #1E293B;
    display: flex;
    height: 100vh;
    overflow-y: scroll;
}

.demo-grid-rows {
    grid-template-rows: fit-content(100%) fit-content(100%) fit-content(100%) fit-content(100%);
}

.demo-content-left {
    grid-column: span 4;
}

.demo-content-right {
    grid-column: span 4;
    height: 100%;
}

.demo-content-headings-h1 {
    font-size: 60px;
    line-height: 76px;
    color: white;
    margin: 1rem 0 0 0;
    grid-column: span 4;
}

.demo-content-headings-h5 {
    font-size: 16px;
    line-height: 20px;
    color: white;
    margin: 1rem 0;
    grid-column: span 4;
}

.board-container {
    width: 100%;
    background-color: #3B311E;
    display: flex;
    flex-direction: column;
    grid-column: span 4;
    max-width: 400px;
    margin: 0 auto;
}

.board-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
}

.board-header h4 {
    font-size: 16px;
    line-height: 20px;
    color: white;
    margin: 0 0 0 1rem;
    width: 50%;
}

.board-header button {
    font-size: 12px;
    line-height: 16px;
    color: white;
    background-color: #87692A;
    border: none;
    border-radius: 100vw;
    width: 50%;
    margin: 0 16px 0 10px;
    padding: 4px 0;
    transition: 175ms ease-in-out;
}

.board-header button:hover {
    scale: 1.05;
    box-shadow: 0 0 .75rem #87692A;
}

.board {
    max-width: 100%;
    aspect-ratio: 1;
    margin: 0 1rem 1rem 1rem;
    background-color: aliceblue;
}

.rank {
    width: 100%;
    height: 12.5%;
    display: flex;
}

.square {
    width: 12.5%;
    height: 100%;
    aspect-ratio: 1;
}

.light {
    background-image: url(../assets/light-square.jpg);
}

.dark {
    background-image: url(../assets/dark-square.jpg);
}

.legalmoves-heading {
    font-size: 16px;
    line-height: 20px;
    color: white;
    margin: 1rem 0;
    grid-column: span 4;
}

.bottom-content {
    grid-column: span 4;
}

.whiteKing,
.whiteQueen,
.whiteARook,
.whiteHRook,
.whiteCBishop,
.whiteFBishop,
.whiteBKnight,
.whiteGKnight,
.whiteAPawn,
.whiteBPawn,
.whiteCPawn,
.whiteDPawn,
.whiteEPawn,
.whiteFPawn,
.whiteGPawn,
.whiteHPawn,
.blackKing,
.blackQueen,
.blackARook,
.blackHRook,
.blackCBishop,
.blackFBishop,
.blackBKnight,
.blackGKnight,
.blackAPawn ,
.blackBPawn ,
.blackCPawn ,
.blackDPawn ,
.blackEPawn ,
.blackFPawn ,
.blackGPawn ,
.blackHPawn            {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1000;
}

.whiteKing {
    background-image: url(../assets/wK.svg);
}
.whiteQueen {
    background-image: url(../assets/wQ.svg);
}
.whiteARook {
    background-image: url(../assets/wR.svg);
}
.whiteHRook {
    background-image: url(../assets/wR.svg);
}
.whiteCBishop {
    background-image: url(../assets/wB.svg);
}
.whiteFBishop {
    background-image: url(../assets/wB.svg);
}
.whiteBKnight {
    background-image: url(../assets/wN.svg);
}
.whiteGKnight {
    background-image: url(../assets/wN.svg);
}
.whiteAPawn {
    background-image: url(../assets/wP.svg);
}
.whiteBPawn {
    background-image: url(../assets/wP.svg);
}
.whiteCPawn {
    background-image: url(../assets/wP.svg);
}
.whiteDPawn {
    background-image: url(../assets/wP.svg);
}
.whiteEPawn {
    background-image: url(../assets/wP.svg);
}
.whiteFPawn {
    background-image: url(../assets/wP.svg);
}
.whiteGPawn {
    background-image: url(../assets/wP.svg);
}
.whiteHPawn {
    background-image: url(../assets/wP.svg);
}
.blackKing {
    background-image: url(../assets/bK.svg);
}
.blackQueen {
    background-image: url(../assets/bQ.svg);
}
.blackARook {
    background-image: url(../assets/bR.svg);
}
.blackHRook {
    background-image: url(../assets/bR.svg);
}
.blackCBishop {
    background-image: url(../assets/bB.svg);
}
.blackFBishop {
    background-image: url(../assets/bB.svg);
}
.blackBKnight {
    background-image: url(../assets/bN.svg);
}
.blackGKnight {
    background-image: url(../assets/bN.svg);
}
.blackAPawn {
    background-image: url(../assets/bP.svg);
}
.blackBPawn {
    background-image: url(../assets/bP.svg);
}
.blackCPawn {
    background-image: url(../assets/bP.svg);
}
.blackDPawn {
    background-image: url(../assets/bP.svg);
}
.blackEPawn {
    background-image: url(../assets/bP.svg);
}
.blackFPawn {
    background-image: url(../assets/bP.svg);
}
.blackGPawn {
    background-image: url(../assets/bP.svg);
}
.blackHPawn {
    background-image: url(../assets/bP.svg);
} 




@media screen and (min-width: 600px) {
    .bottom-content {
        grid-column: span 8;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 0 20px;
    }

    .demo-content-left {
        grid-column: span 8;
    }
    
    .demo-content-right {
        grid-column: span 8;
    }

    .board-container {
        max-width: 400px;
        margin: 0 auto;
    }

    .demo-content-headings-h1 {
        grid-column: span 8;
    }
    
    .demo-content-headings-h5 {
        grid-column: span 8;
    }
}

@media screen and (min-width: 700px) {
    .board-container {
        grid-column: 1 / 5;
        max-width: 400px;
        margin: 0;
    }

    .demo-content-left {
        grid-column: span 4;
    }
    
    .demo-content-right {
        grid-column: 5 / 9;
    }

    .legalmoves-heading {
        margin: 0;
    }
}

@media screen and (min-width: 750px) {
    .demo-content-headings-h1 {
        grid-column: span 8;
    }
    
    .demo-content-headings-h5 {
        grid-column: span 8;
    }

    .board-container {
        max-width: 500px;
        margin: 0;
    }
}

@media screen and (min-width: 1200px) {
    .bottom-content {
        grid-template-columns: repeat(12, 1fr);
        grid-column: span 12;
    }

    .demo-content-left {
        grid-column: 1 / 7;
    }
    
    .demo-content-right {
        grid-column: 8 / 13;
    }

    .board-container {
        margin: 0;
    }
}