.hero {
    background-image: url('../assets/HeroIMG.png');
    background-size: cover;
    height: 100vh;
    display: flex;
}

.hero-grid-rows {
    grid-template-rows: fit-content(100%) fit-content(100%);
}

.header {
    display: none;
}

.hero-content {
    position: relative;
    color: white;
    top: 172px;
    grid-column: span 4;
}

.hero-content h1 {
    font-size: 60px;
    line-height: 76px;
    margin: 0;
}

.hero-content h6 {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
}

.hero-content p {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
}

.hero-content-buttons {
    width: 100%;
    display: flex;
    margin-top: 1rem;
}

.learn-more {
    width: 50%;
    margin-right: 10px;
    border-radius: 100vw;
    padding: 8px 0;
    background-color: #87692A;
    color: white;
    border: none;
    transition: 175ms ease-in-out;
}

.explore-demo {
    width: 50%;
    margin-left: 10px;
    border-radius: 100vw;
    padding: 8px 0;
    background-color: #87692A;
    color: white;
    border: none;
    transition: 175ms ease-in-out;
}

.learn-more:hover {
    scale: 1.05;
    box-shadow: 0 0 .75rem #87692A;
}

.explore-demo:hover {
    scale: 1.05;
    box-shadow: 0 0 .75rem #87692A;
}

@media screen and (min-width: 600px) {
    .hero-content {
        grid-column: span 6;
    }
}

@media screen and (min-width: 750px) {
    .hero-content {
        grid-column: span 4;
    }

    .header {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 0 20px;
        border-bottom: 4px solid white;
        height: 3rem;
        grid-column: span 12;
        align-items: center;
    }

    .header-heading {
        font-size: 24px;
        line-height: 32px;
        color: white;
        margin: 0;
        grid-column: 1 / 4;
    }
    
    .header-nav {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        gap: 0 20px;
        grid-template-rows: 48px;
        grid-column: 6 / 9;
        height: 48px;
    }

    .header-nav-button {
        font-size: 20px;
        line-height: 24px;
        color: white; 
        text-decoration: none;
    }
}

@media screen and (min-width: 1000px) {
    .hero-content {
        grid-column: span 4;
    }
}

@media screen and (min-width: 1200px) {
    .hero-content {
        grid-column: span 4;
    }

    .header {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 0 20px;
        border-bottom: 4px solid white;
        height: 3rem;
        grid-column: span 12;
        align-items: center;
    }
    
    .header-nav {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        gap: 0 20px;
        grid-template-rows: 48px;
        grid-column: 10 / 13;
        height: 48px;
    }
}